@charset "utf-8";
/* CSS Document */

h3 {
    font-family: Arial;
    color: whitesmoke;
}

p {
    font-family: Arial;
    color: whitesmoke;
    font-size: 8pt;
    margin: 0 0 0 0;
}

table tr th{
    border: 1px solid;
    border-color: aqua;
    width: 20px;
    height: 20px;
    table-layout: fixed;
}

table tr th:hover{
    border: 1px solid;
    background-color: beige;
    table-layout: fixed;
}

body {
    background-color: darkslategrey;
}